<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>sendingJdo</servlet-name>
		<servlet-class>com.example.hospital.InPatient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sendingJdo</servlet-name>
		<url-pattern>/inpatient</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>requestjdo</servlet-name>h
		<servlet-class>com.example.hospital.InPatientRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>requestjdo</servlet-name>
		<url-pattern>/inpatientdetails</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>administrator.html</welcome-file>
	</welcome-file-list>
</web-app>
